*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Project related
queries15_500_100_b
queries100_15_500_100_b
scripts/examples/
old_results/
*Endpoints

# Python related
__pycache__/
